.container{
    border: 2px solid rgb(13, 185, 238);
    margin: 10px;
    
}
.container img{
    margin-top: 5px;
    height: 150px;
    width: 100px;
}
.buy-btn{
    background-color: rgb(53, 166, 218);
    color: white;
    border: 2px solid rgb(41, 195, 241);
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}
.buy-btn:hover{
    color: black;
    background-color: rgb(10, 186, 245);
}

    